<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= (title) ? title + '|' + AppName : AppName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
</head>
<body>

    <nav class="blue">
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo"><%= AppName %></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <%- include ../partials/user_navigation.ejs %>
        </div>
    </nav>

    <main class="section">
        <div class="container">
            <%- include ../partials/flash.ejs %>
            <%- body %>
        </div>
    </main>

    <footer class="page-footer blue">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2016 <%= AppName %>
            </div>
        </div>
    </footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/materialize.min.js"></script>
    <script src="/js/initMaterialize.js"></script>
    <!--SCRIPTS END-->

    <%- scripts %>
</body>
</html>
