<!doctype html>
<html lang="fr" id="page-mindmap">
<head>
    <meta charset="UTF-8">
    <title><%= (title) ? title + ' | ' + AppName : AppName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
</head>
<body style="overflow-y:scroll">
    <nav class="blue">
        <div class="container nav-wrapper">
            <ul class="left">
                <li>
                    <a href="/">
                        <i class="material-icons left">arrow_back</i>
                        <%= title %>
                    </a>
                </li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <%- include ../partials/user_navigation %>
        </div>
    </nav>

    <main class="section no-pad-top">
        <%- body %>
    </main>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/materialize.min.js"></script>
    <script src="/js/initMaterialize.js"></script>
    <!--SCRIPTS END-->

    <%- scripts %>
</body>
</html>
